<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta property="og:title" content="{{ title or metadata.title }}">
    <meta name="description" property="og:description" content="{{ social_description or description or metadata.social_description }}">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="shortcut icon" href="{{ favicon or metadata.favicon }}" type="image/x-icon">
    <link rel="icon" href="{{ favicon or metadata.favicon }}" type="image/x-icon">
    
    <meta property="twitter:image" content="https://diolnk.com/img/logo-with-words.png">
    <meta property="twitter:card" content="summary">
    <meta property="og:image:width" content="200">
    <meta property="og:image" content="https://diolnk.com/img/logo-with-words.png">
    <meta property="twitter:image:alt" content="a mess of hands holding tools, protest signs, and art supplies surrounded by the words DIO Fest 2022">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Candal&display=swap" rel="stylesheet"> 
  </head>
  <body>
    <main class="page-content {{ wrapperClass }}">
    <div class="wrapper">
      <div class="inner-content-wrapper">
        {{ content | safe }}
      </div>
      </div>
    </main>
  </body>
</html>
