:root {
    --light-coral: #d17962;
    --coral: #d56a62;
    --blue: #6fdaee;
    --yellow: #e1b312;
    --background-color: #daf3ff;
    background-color: var(--background-color);
    font-size: 20px;
    font-family: 'Candal', sans-serif;
  }
  
h1 {
    font-size: 34px;
    text-align: center;
    color: --coral;
}

h2 {
    margin-bottom: 8px;
}

.date, .location {
    font-size: 28px;
}

header {
    text-align: center;
}

a {
    color: var(--coral);
    text-decoration: none;
}
a:visited {
    color: #d25a7b;
}

.wrapper {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    background-color: var(--gray100);
}

.body {
    display: flex;
}
.body div {
    max-width: 50%;
    width: 50%;
}

.details p {
    margin-top: 12px;
    margin-bottom: 12px;
}

.details ul {
    margin-top: 12px;
    margin-bottom: 12px;
}

.links {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    list-style-type: none;
}

.links li {
    margin-top: 15px;
    margin-bottom: 15px;
    outline: 2px var(--blue) solid;
    border-radius: 5px;
    padding: 5px;
    width: fit-content;
}

@media only screen and (max-width: 812px) {
    .body {
        flex-direction: column;
    } 
    .body div {
        width: 100%;
        max-width: 100%;
    }
    .links {
        padding-left: 0;
    }
}
