---
layout: layouts/base.njk
---

<header>
    <img src="/img/logo-with-words.jpg" alt="a mess of hands holding tools, protest signs, and art supplies surrounded by the words DIO Fest 2022" width="200" />
<h1>Do-It-Ourselves Fest LNK</h1>
<p class="date">October 8, 2022</p>
<p class="location">The Bay, Lincoln Nebraska</p>
</header>

<div class="body">
    <div>
        <p>Do-It-Ourselves Fest is one day of workshops celebrating DIY culture, art, music, and learning through mutual aid.</p>

        <p>DIO Fest is about what we can do ourselves, for ourselves and one another.</p>

        <p>It’s about what we are all capable of when we come together as one.</p>
    </div>
    <div class="links-container">
        <ul class="links">
            <li><a href="https://www.instagram.com/doitourselvesfest/">Instagram</a></li>
            <li><a href="https://www.facebook.com/doitourselvesfest">Facebook</a></li>
            <li><a href="https://www.gofundme.com/f/bring-back-doitourselves-fest-in-lincoln">Donate to help make it happen</a></li>
        </ul> 
    </div>
</div>